<div class="western-topbar">
    <div class="container topbar-inner">

        <a href="https://www.uwo.ca" class="topbar-home">
            Western University
        </a>

        <ul class="topbar-links">
            <li><a href="https://www.uwo.ca/admissions/">Admissions</a></li>
            <li><a href="https://www.uwo.ca/academics/">Academics</a></li>
            <li><a href="https://www.uwo.ca/research/">Research</a></li>
            <li><a href="https://www.uwo.ca/about/">About</a></li>
        </ul>

    </div>
</div>